<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/cocoa"
        android:roundIcon="@drawable/cocoa"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sensoreandroidapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.MainActivity"
            android:icon="@drawable/cocoa"
            android:roundIcon="@drawable/cocoa"
            android:label="SN Control"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.LuminosidadActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity"
            android:label="Registro de Luminosidad">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.TemperaturaActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity"
            android:label="Registro de Temperatura">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.HumedadActivity"
            android:exported="false"
            android:label="Registro de Humedad"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity"
            android:label="Formulario">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.home.HomeActivity"
            android:background="#00FF00"
            android:exported="false"
            android:label="WSN Control">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="Login"></activity>
    </application>

</manifest>